body{
    overflow-x: hidden;
}
.top-section{
    background: #FFFBF0;
    height: 715px;
}
#brand-logo{
    width: 291px;
    height: 39px;
}
.nav-font-style{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
}
#penguin-heading{
    font-family: 'Bebas Neue', cursive;
    font-size: 70px;
    color: salmon;
}
#winter-heading{
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
    color: rgb(8, 8, 70);
}
#para-font-style{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
.button-style{
    width: 170px;
    height: 60px;
    border-radius: 10px;
    background-image: linear-gradient(45deg, lightsalmon, blue);
}
.button-style img{
    width: 20px;
    height: 20px;
}
.cart-image-style{
    margin-right: 10px;
}
#model-image{
    width: 440px; 
    height: 648px;
    margin-top: -62%;
    margin-left: 70px;
}
.first-section{
    width: 40%;
    float: left;
    margin-top: 101px;
    width: 400px;
}
.card-size{
    width: 370px !important;
    height: 550px !important;
    border-radius: 15px;
}
#women-jacket-heading{
    font-family: 'Bebas Neue', cursive;
    font-size: 48px;
    color: rgb(202, 129, 141);
}
.jacket-image{
    background: #F1F1F1;
    margin: 10px auto;
    width: 314px;
    height: 327px;
    border-radius: 15px;
    
}
#jacket-img2{
    width: 203px;
    height: 273px;
    display: block;
    margin: auto;
    border-radius: 15px;
}
#jacket-img3{
    width: 202px;
    height: 269px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}
#men-jacket-heading{
    font-family: 'Bebas Neue', cursive;
    font-size: 48px;
    color: #363958;
}
#men-img1{
    width: 202px;
    height: 269px;
    border-radius: 15px;
}
#men-img2{
    width: 243px;
    height: 256px;
    border-radius: 15px;
}
#men-img3{
    width: 192px;
    height: 280px;
    border-radius: 15px;
}
.bottom-card{
    width: 489px;
    height: 135px;
    border-radius: 15px;
}
#fit-logo{
    width: 78px;
    height: 82px;
    margin: auto;
    padding: 10px;

}
#exchange-logo{
    width: 79px;
    height: 76px;
    margin: auto;
    padding: 10px;
}
#contact-logo{
    width: 71px;
    height: 76px;
    margin: auto;
    padding: 10px;
}
.card-text-position{
    margin: auto;
    font-family: 'Roboto', sans-serif;
}
#shopping-image{
    width: 599px;
    height: 354px;
}
#heading-font-size{
    color: #F5A331;
    font-size: 24px;
    font-weight: bold;
}
#para-font-size{
    font-size: 16px;
    font-weight: normal;
}
#last-heading{
    text-align: center;
    color: salmon;
    font-size: 40px;
    font-weight: bold;
}
.box-style{
    width: 50%;
    margin: auto;
    border-radius: 50px;
}
#send-button{
    height: 40px;
    width: 120px;
    border-radius: 10px;
}